* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

p {
	font-weight: 300;
	color: #111;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/bg.jpg);
	background-size: cover;
}

.banner .content {
	max-width: 900px;
	text-align: center;
}

.banner .content h2 {
	font-size: 5em;
	color: #fff;
}

.banner .content p {
	font-size: 1em;
	color: #fff;
}

.btn {
	font-size: 1em;
	color: #fff;
	background: rgb(184, 139, 110);
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.btn:hover {
	letter-spacing: 6px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.5s;
}

header.sticky {
	background:  #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05)
}

header .logo {
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	text-decoration: none;
}

header.sticky .logo {
	color: #111;
}

header .logo span {
	color: rgb(149,107,83);
}

header .navigation {
	position: relative;
	display: flex;
}

header .navigation li {
	list-style: none;
	margin-left: 30px;
}

header .navigation li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

header.sticky .navigation li a {
	color: #111;
}

header .navigation li a:hover {
	color: rgb(177, 130, 104);
}

section {
	padding: 100px;
}

.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50 {
	position: relative;
	width: 48%;
}

.titleText {
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.titleText span {
	color: rgb(177, 130, 104);
	font-weight: 700;
	font-size: 1.5em;
}

.imgBx {
	position: relative;
	width: 100%;
	min-height: 300px;
}

.row .col50 .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu .content {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.menu .content .box {
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgBx {
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu .content .box .text {
	padding: 15px 0px 5px 
}

.menu .content .box .text h3 {
	font-weight: 400;
	color: #111;
}

.expert .content {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.expert .content .box {
	width: 250px;
	margin-left: 15px;
}

.expert .content .box .imgBx {
	position: relative;
	width: 100%;
	height: 300px;
}

.expert .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expert .content .box .text {
	padding: 15px 0px 5px 
}

.expert .content .box .text h3 {
	font-weight: 400;
	color: #111;
}

.testimonial {
	background: url(img/bg2.jpg);
	background-size: cover;
}

.white .titleText,
.white p {
 color: #fff;
}

.testimonial .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.testimonial .content .box {
	width: 340px;
	height: 400px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testimonial .content .box .imgBx {
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: -150px;
	overflow: hidden;
}

.testimonial .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

.testimonial .content .box .text {
	text-align: center;
	margin-top: -10px;
}

.testimonial .content .box .text p {
	color: #666;
	font-style: italic;
}

.testimonial .content .box .text h3 {
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: rgb(177, 130, 104);
	font-weight: 600;
}

.contact {
	background: url(img/bg6.jpg);
	background-size: cover;
}

.contactForm {
	padding: 75px 50px;
	background: #fff;
	box-shadow: 0 15px 50px rgba(0,0,0,0.1);
	max-width: 500px;
	margin-top: 50px;
}

.contactForm h3 {
	color: #111;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}

.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}

.contactForm .inputBox input[type= "submit"] {
	font-size: 1em;
	color: #fff;
	background: rgb( 184, 139,110 );
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	border: none;
	font-weight: 500;
	cursor: pointer;
}

.copyrightTxt {
	padding: 8px 40px;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}

.copyrightTxt p {
	color: #333;
}

.copyrightTxt a {
	color: #111;
	font-weight: 500;
	text-decoration: none;
}

@media (max-width: 991px) {
	header, 
	header.sticky {
		padding: 10px 20px;
	}

	header .navigation {
		display: none;
	}

	.menuTogle {
		position: relative;
		width: 40px;
		height: 40px;
		background: url(img/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 10000;
	}

	.menuTogle.active{
		background: url(img/close.png);
		cursor: pointer;
		z-index: 1000;
	}

	header.sticky .menuTogle {
		filter: invert(1);
	}

	header .navigation.active {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background: #fff; 
	} 

	header .navigation.active li {
		list-style: none;
	}

	header .navigation.active li a {
		color: #111;
		font-size: 1.6em;
	}

	header .navigation li a:hover {
	color: rgb(177, 130, 104);
	}

	header.sticky .logo {
    color: #111;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
	}

	section {
		padding: 20px;
	}

	.banner .content h2 {
		font-size: 3em;
		color: #fff;
	}

	.row {
		flex-direction: column;
	}

	.row .col50 {
		position: relative;
		width: 100%;
	}

	.row .col50 .imgBx {
		margin-top: 20px;
		height: 300px;
	} 

	.menu .content {
		margin-top: 20px;
	}

	.menu .content .box {
		margin: 10px;
	}

	.menu .content .imgBx {
		height: 260px;
	}

	.title {
		text-align: center;
	}

	.testimonial .content .box {
		margin: 10px;
		padding: 20px;
	}

	.contactForm {
		padding: 35px 40px;
		max-width: 500px;
		margin-top: 20px;
		margin-bottom: 30px;

	}
}

@media (max-width: 480px) {
	.banner .content h2 {
		font-size: 2.2em;
		color: #fff;
	}

}